@import '_settings';

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.site-header {
    border-top: 5px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    margin-bottom: 1rem;
    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  margin-bottom: 0;
  color: #444;
}
.top-bar-title {
  flex: 1 0 auto;
}

.site-nav {
    margin-left: auto;
    line-height: 56px;

    .page-link {
        color: #444;
        line-height: 1.2;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}

.projects-list,
.work-list,
.edu-list {
  list-style: none;
  justify-content: center;
  li {
    flex: 0 0 300px;
    padding: 20px;
  }
  .project-card,
  .work-card,
  .edu-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: $light-gray;
    margin-right: 1rem;
    margin-bottom: 1rem;
    .media-object-section {
      text-align: center;
      align-items: center;
      flex: 1 0 auto;
      color: $secondary-color;
      padding-right: 0;

    }
    .thumbnail {
      margin: 0;
      line-height: normal;
      border: none;
      box-shadow: none;
      text-align: center;
      img {
        height: 200px;
        max-width: 100%;
        object-fit: contain;
        display: inline-block;
      }
    }
    a {
      display: block;
    }
  }
}

.page-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  flex: 1 0 auto;
  @include breakpoint(medium only) {
    max-width: 100%;
  }
}
.site-footer {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
}
