<footer class="site-footer">
  <ul class="vertical medium-horizontal menu">
    <li>
      <a href="https://katjahollaar.myportfolio.com/"
        >{% include camera.svg %} {{ site.description }}</a
      >
    </li>
    <li>
      <a href="mailto:{{ site.email }}"> {{ site.email }} </a>
    </li>
    {% if site.github_username %}
    <li>
      <a href="https://github.com/{{ site.github_username }}">
        {% include git-icon.svg %} {{ site.github_username }}
      </a>
    </li>
    {% endif %} {% if site.twitter_username %}
    <li>
      <a href="https://www.instagram.com/{{site.instagram_username}}/">
        {% include instagram-logo-bw.svg %} Instagram
      </a>
    </li>
    {% endif %}
  </ul>
</footer>
